In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
%load_ext autoreload
%autoreload

In [2]:
df_ori = pd.read_csv('../adyen-dataset.csv')

In [3]:
df_ori['no_ip'] = df_ori['ip_address'].isnull()
df_ori['no_email'] = df_ori['email_address'].isnull()
df_ori['same_country'] = df_ori['ip_country'] == df_ori['issuing_country']
df_categorical = df_ori[
    ['psp_reference','has_fraudulent_dispute', 'merchant', 'card_scheme', 'is_credit', 'ip_country', 'issuing_country', 'device_type',
     'shopper_interaction', 'zip_code', 'card_bin', 'no_ip', 'no_email', 'same_country']]

In [4]:
# one hot encoding
df_categorical_dummies = df_categorical.copy()[['psp_reference', 'is_credit', 'no_ip', 'no_email', 'same_country', 'issuing_country','zip_code']]
merchant_dummies = pd.get_dummies(df_categorical.merchant, prefix='merchant', drop_first=True)
card_scheme_dummies = pd.get_dummies(df_categorical.card_scheme, prefix='card_scheme', drop_first=True)
ip_country_dummies = pd.get_dummies(df_categorical.ip_country, prefix='ip_country', drop_first=True)
issuing_country_dummies = pd.get_dummies(df_categorical.issuing_country, prefix='issuing_country',  drop_first=True)
device_type_dummies = pd.get_dummies(df_categorical.device_type, prefix='device_type',  drop_first=True)
shopper_interaction_dummies = pd.get_dummies(df_categorical.shopper_interaction, prefix='shopper_interaction',  drop_first=True)
zip_code_dummies = pd.get_dummies(df_categorical.zip_code, prefix='zip_code', drop_first=True)
df_categorical_dummies = pd.concat(
    [df_categorical_dummies,merchant_dummies, card_scheme_dummies, ip_country_dummies, issuing_country_dummies, device_type_dummies,
     shopper_interaction_dummies, zip_code_dummies], axis=1)

In [5]:
df_categorical_dummies.to_csv("categorical_dummies_features.csv", index=False)

In [6]:
df_categorical_dummies

,psp_reference,is_credit,no_ip,no_email,same_country,issuing_country,zip_code,merchant_Merchant B,merchant_Merchant C,merchant_Merchant D,...,zip_code_BZD,zip_code_DB,zip_code_DFFF,zip_code_EB,zip_code_EGHA,zip_code_FFR,zip_code_FGDD,zip_code_XDED,zip_code_XOL,zip_code_ZB
0,79622457320,True,False,False,True,GR,XDED,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,41293916020,False,False,False,True,BR,AAD,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,31382555255,True,False,False,True,NL,1104,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,13944051314,False,False,False,True,NL,2039,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,62343575411,True,True,False,True,BR,XOL,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138696,58957356926,True,False,False,True,BR,BZD,0,0,1,...,1,0,0,0,0,0,0,0,0,0
138697,44780141989,False,True,False,True,NL,2039,0,0,1,...,0,0,0,0,0,0,0,0,0,0
138698,34619316012,True,False,False,True,BR,AAD,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138699,68700535373,True,False,False,True,NL,1104,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138700,21880024860,True,True,False,True,NL,2039,0,0,0,...,0,0,0,0,0,0,0,0,0,0